<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-title" content="MyWebSite" />
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <link rel="stylesheet" href="/style/lib/fontawesome/all.min.css" />
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/Dashboard1.css">
        <link rel="stylesheet" href="/style/mobile.css">
        <title><%= section.toString().substring(0,1).toUpperCase() %><%= section.toString().substring(1).toLowerCase() %></title>
    </head>

    <body class="flex-row">
       <input type="number" value="<%= user?user.id:"0" %>" id="titlo" hidden>
        <%
            function formatNumber (num) {
                if (num >= 1e9) {
                return (num / 1e9).toFixed(1).replace(/\.0$/, '') + 'b';
                }
                if (num >= 1e6) {
                return (num / 1e6).toFixed(1).replace(/\.0$/, '') + 'm';
                }
                if (num >= 1e3) {
                return (num / 1e3).toFixed(1).replace(/\.0$/, '') + 'k';
                }
                return num.toString();
            }
            function formatDate(dateString) {
                const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                const date = new Date(dateString);
                const day = String(date.getDate()).padStart(2, '0');
                const month = months[date.getMonth()];
                const year = date.getFullYear();
                return `${day} ${month} ${year}`;
            }
        %>
        <div class="mobile-menu-icon" onclick="toggleNav()">
            <i class="fa fa-bars"></i>
        </div>
        <nav id="sidebar" class="flex-col">
            <ul class="flex-col center-start dash-navbar">
                <li class="nav-logo flex-row center-start">
                    <div class="img-box">
                        <img src="/assets/logo.png" alt="profile">
                      </div>
                    <h2 class="title-sml">DZRentCars</h2>
                </li>
                <li class="nav-break"></li>
                <li class="nav-break-title flex-row center-start w100">Managment</li>
                <li class="nav-element flex-col center-start w100" id="navElD">
                    <div class="nav-element-head <%= section == "dashboard"?"nes":"" %> flex-row center-spacebet w100 h100">
                        <div class="flex-row center-start h100">
                            <i class="fa-regular fa-chart-bar" style="color: rgb(114, 159, 236);"></i>
                            <p>Dashboard</p>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <ul class="nav-element-body flex-col w100" <% if (section == "dashboard") { %> style="height: 6em; display: flex;" <% } %>>
                        <a href="/dashboard/overview" class="nav-body-element bt-hover">Overview</a>
                        <a href="/dashboard/rentals" class="nav-body-element bt-hover">Rentals</a>
                        <a href="/dashboard/clients" class="nav-body-element bt-hover">Clients</a>
                        <a href="/dashboard/vehicles" class="nav-body-element bt-hover">Vehicles</a>
                    </ul>
                </li>
                <li class="nav-element flex-col center-start w100" id="navElV">
                    <div class="nav-element-head <%= section === "vehicles"?"nes":"" %> flex-row center-spacebet w100 h100">
                        <div class="flex-row center-start h100">
                            <i class="fa-solid fa-car-rear" style="color: rgb(203, 114, 236);"></i>
                            <p>Vehicles</p>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <ul class="nav-element-body flex-col w100" <% if (section === "vehicles") { %> style="height: 8em; display: flex;" <% } %>>
                        <a href="/vehicles/list" class="nav-body-element bt-hover">List</a>
                        <a href="/vehicles/add" class="nav-body-element bt-hover">Add Vehicles</a>
                        <a href="/vehicles/brands/add" class="nav-body-element bt-hover">Add Brand</a>
                        <a href="/vehicles/types/add" class="nav-body-element bt-hover">Add Type</a>
                    </ul>
                </li>
                <li class="nav-element flex-col center-start w100" id="navElC">
                    <div class="nav-element-head <%= section == "clients"?"nes":"" %> flex-row center-spacebet w100 h100">
                        <div class="flex-row center-start h100">
                            <i class="fa-regular fa-user" style="color: rgb(236, 118, 114);"></i>
                            <p>Clients</p>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <ul class="nav-element-body flex-col w100" <% if (section == "clients") { %> style="height: 4em; display: flex;" <% } %>>
                        <a href="/clients/list" class="nav-body-element bt-hover">List</a>
                        <a href="/clients/verification" class="nav-body-element bt-hover">Verification</a>
                    </ul>
                </li>
                <li class="nav-element flex-col center-start w100" id="navElR">
                    <div class="nav-element-head <%= section == "rental"?"nes":"" %> flex-row center-spacebet w100 h100">
                        <div class="flex-row center-start h100">
                            <i class="fa-regular fa-clipboard" style="color: rgb(110, 184, 127);"></i>
                            <p>Rentals</p>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <ul class="nav-element-body flex-col w100" <% if (section == "rental") { %> style="height: 6em; display: flex;" <% } %>>
                        <a href="/rental/list" class="nav-body-element bt-hover">List</a>
                        <a href="/rental/orders" class="nav-body-element bt-hover">Orders</a>
                        <a href="/rental/return" class="nav-body-element bt-hover">Return management</a>
                    </ul>
                </li>
                <li class="nav-break"></li>
                <li class="nav-break-title flex-row center-start w100">Report & Feedback</li>
                <a href="/report" class="nav-element-head <%= section=="report"?"nes":"" %> flex-row center-start w100">
                    <i class="fa-regular fa-flag" style="color:rgb(243, 98, 98); opacity: 0.8;" ></i>
                    <span>Reports</span>
                </a>

                <li class="nav-break"></li>
                <li class="nav-break-title flex-row center-start w100">Database</li>
                <a href="/dbm" class="nav-element-head <%= section=="dbm"?"nes":"" %> flex-row center-start w100">
                    <i class="fa-solid fa-database" style="color:var(--text); opacity: 0.8;" ></i>
                    <span>Database</span>
                </a>
                <li class="nav-break" style="margin-top: auto;"></li>
                <a href="/logout" class="nav-logout flex-row center-start w100">
                    <i class="fa-solid fa-right-from-bracket" style="color: rgb(218, 90, 90);"></i>
                    <span >Logout</span>
                </a>
            </ul>
        </nav>
        <% if (section==='vehicles' ){ %>
            <% if (subsection === 'listvehicles') {%>
                <section class="content-section flex-col">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Vehicles</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">List</p>
                    </div>
                    <h1>Vehicles List</h1>
                    <div class="button">
                        <a href="/Addvehicle"><button class="bn632-hover bn26">AddVehicle</button></a>
                        </button>
                    
                    </div>                
                    <table>
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>fab_year</th>
                            <th>Model</th>
                            <th>color</th>
                            <th>fuel</th>
                            <th>price</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody id="vehiclesTableBody">
                            <!-- سيتم إدخال البيانات هنا ديناميكيًا -->
                        </tbody>
                    </table>     
                        
                </section>
            <% } %>
            <% if (subsection === 'addvehicle') {%>
                <section class="content-section flex-col">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Vehicles</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">List</p>
                    </div>
                    <form class="form-container add-vehicle-form content-section" action="/addvehicle" method="post" autocomplete="off" enctype="multipart/form-data" style="height: 100vh; width: 100%;">
                        <div class="flex-row">
                            <div class="flex-col" style="width: 50%;">
                                <div class="form-group">
                                    <label class="form-label" for="location">location</label>
                                    <select id="location" name="location">
                                        <% offices.forEach(office => { %>
                                            <option value="<%= office.id %>"><%= office.wilaya %>, <%= office.city %>, <%= office.address %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="flex-row" style="gap: 5px;">
                                    <div class="form-group" style="width: calc(30% - 5px);">
                                        <label class="form-label" for="brand">Brand</label>
                                        <select id="brand" name="brand_id" required>
                                            <% if(brands) %> <% brands.forEach(f => { %>
                                                <option value="<%= f.id %>"><%= f.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group" style="width: 50%;">
                                        <label class="form-label" for="model">Model</label>
                                        <input type="text" id="model" name="model" placeholder="Ex: Yaris" required>
                                    </div>
                                    <div class="form-group" style="width: calc(20% - 5px);">
                                        <label class="form-label" for="fab_year">Year</label>
                                        <input type="text" id="fab_year" name="fab_year" placeholder="Ex: 2023" required>
                                    </div>
                                </div>
                                <div class="flex-row" style="gap: 5px;">
                                    <div class="form-group" style="width: 20%;">
                                        <label class="form-label" for="Units">Units</label>
                                        <input type="number" id="Units" name="Units" min="1" placeholder="Ex: 3" required>
                                    </div>
                                    <div class="form-group" style="width: calc(50% - 5px);">
                                        <label class="form-label" for="price">Price <span class="currence">(DZD)</span></label>
                                        <input type="number" id="price" name="price" min="0" step="0.01" placeholder="Ex: 25000.00" required>
                                    </div>
                                    <div class="form-group" style="width: calc(30% - 5px);">
                                        <label class="form-label" for="rental_type">Rental type</label>
                                        <select id="rental_type" name="rental_type" required>
                                            <option value="d">Days</option>
                                            <option value="h">Hours</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex-row" style="gap: 5px;">
                                    <div class="form-group" style="width: calc(60% - 5px);">
                                        <label class="form-label" for="body">body</label>
                                        <select id="body" name="body" required>
                                            <% if(bodyTypes) %> <% bodyTypes.forEach(f => { %>
                                                <option value="<%= f.unnest %>"><%= f.unnest %></option>
                                            <% }) %>
                                        </select>
                                    </div> 
                                    <div class="form-group" style="width: 40%;">
                                        <label class="form-label" for="color">Color</label>
                                        <input type="text" id="color" name="color" placeholder="Ex: Noir" list="css-colors" required>
                                        <datalist id="css-colors">
                                            <% if (colors) %> <% colors.forEach(color => { %>
                                                <option value="<%= color.unnest %>"></option>
                                            <% }) %>
                                        </datalist>
                                    </div> 
                                </div>
        
                                <div class="flex-row" style="gap: 5px;">
                                    <div class="form-group" style="width: 70%;">
                                        <label class="form-label" for="engine_type">Engine type</label>
                                        <input type="text" id="engine_type" name="engine_type" placeholder="Ex: V6" required>
                                    </div>
                                    <div class="form-group" style="width: calc(15%-5px);">
                                        <label class="form-label" for="horspower">Horspower <span class="currence">(HP)</span></label>
                                        <input type="number" id="horspower" name="horspower" placeholder="Ex: 200" required>
                                    </div>
                                    <div class="form-group" style="width: calc(15%-5px);">
                                        <label class="form-label" for="Speed">Speed <span class="currence">(KM/H)</span></label>
                                        <input type="number" id="Speed" name="Speed" placeholder="Ex: 180" required>
                                    </div>
                                </div>
        
                                <div class="flex-row" style="gap: 5px;">
                                    <div class="form-group" style="width: calc(50% - 5px);">
                                        <label class="form-label" for="capacity">Capacity</label>
                                        <input type="number" id="capacity" name="capacity" min="1" placeholder="Ex: 4" required>
                                    </div>
                                    <div class="form-group" style="width: 50%;">
                                        <label class="form-label" for="doors">Doors</label>
                                        <input type="number" id="doors" name="doors" placeholder="Ex: 4" required>
                                    </div>
                                </div>
        
                                <div class="flex-row" style="gap: 5px;">
                                    <div class="form-group" style="width: calc(50% - 5px);">
                                        <label class="form-label" for="fuel">Fuel Type</label>
                                        <select id="fuel" name="fuel" required>
                                        <% if(fuelTypes) %> <% fuelTypes.forEach(f => { %>
                                            <option value="<%= f.unnest %>"><%= f.unnest %></option>
                                        <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group" style="width: 50%;">
                                        <label class="form-label" for="transmission">Transmission</label>
                                        <select id="transmission" name="transmission" required>
                                            <% if(transTypes) %> <% transTypes.forEach(f => { %>
                                                <option value="<%= f.unnest %>"><%= f.unnest %></option>
                                            <% }) %>
                                        </select>
                                    </div>                                                           
                                </div>
                            </div>
                            <div class="flex-col" style="width: 50%; padding-left: 1rem;">
                                <div class="form-group" style="width: 100%; height: 50%;">
                                    <div class="flex-row" style="width: 100%; height:100%; gap:10px;">
                                        <div class="flex-col" style="width: calc(70% - 10px);">
                                            <label for="image" class="image-block flex-row flex-center">
                                                <input type="file" id="image" name="image" accept="image/*" hidden>
                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                            </label>
                                        </div>
                                        <div class="flex-col" style="width: 30%; height: 100%; gap: 10px;">
                                            <label for="prevImage1Inp" class="image-block-prev flex-row flex-center">
                                                <input type="file" id="prevImage1Inp" name="prevImage1" accept="image/*" hidden>
                                                <i class="fa-regular fa-images"></i>
                                            </label>
                                            <label for="prevImage2Inp" class="image-block-prev flex-row flex-center">
                                                <i class="fa-regular fa-images"></i>
                                                <input type="file" id="prevImage2Inp" name="prevImage2" accept="image/*" hidden>
                                            </label>
                                            <label for="prevImage3Inp" class="image-block-prev flex-row flex-center">
                                                <i class="fa-regular fa-images"></i>
                                                <input type="file" id="prevImage3Inp" name="prevImage3" accept="image/*" hidden>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="height: 50%;">
                                    <label class="form-label" for="description">Description</label>
                                    <textarea id="description" name="description" placeholder="Description..."></textarea>
                                </div>
                            </div>
                        </div>
                        
        
                        <div class="form-group">
                            <button type="submit" class="btn bt-primary" id="addVehicleBut">Add</button>
                        </div>
        
                    </form>           
                </section>
            <% } %>
            <% if (subsection === 'addbrand') {%>
                <section class="content-section flex-col">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Vehicles</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Brands</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Add</p>
                    </div>
                </section>
            <% } %>
            <% if (subsection === 'addtype') {%>
                <section class="content-section flex-col">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Vehicles</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Types</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Add</p>
                    </div>
                </section>
            <% } %>
        <% } %>
        <% if (section==='dashboard' ) { %>
            <% if (subsection == 'rentals') { %>
                <section class="content-section">    
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Dashboard</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Rentals</p>
                    </div>
    
                    <div class="dash-stats-container flex-row flex-wrap">
                        <div class="dash-stat-container flex-col center-start">
                            <div class="dash-stat-top flex-row start-spacebet w100">
                                <div class="flex-col start-center">
                                    <p class="stat-title">Rentals</p>
                                    <p class="stat-val"><span id="dashRentals">0</span></p>
                                </div>
                                <i class="fa-solid fa-clipboard-list" style=" background-color: rgba(53, 103, 174,0.7);"></i>
                            </div>
                            <div class="dash-stat-bottom">
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-positive">+99.0%</p>
                                </div>
                            </div>
                        </div>
                        <div class="dash-stat-container flex-col center-start">
                            <div class="dash-stat-top flex-row start-spacebet w100">
                                <div class="flex-col start-center">
                                    <p class="stat-title">Returns</p>
                                    <p class="stat-val"><span id="dashReturns">0</span></p>
                                </div>
                                <i class="fa-solid fa-clipboard-check" style=" background-color: rgba(216, 137, 85,0.7);"></i>
                            </div>
                            <div class="dash-stat-bottom">
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-positive">+50.0%</p>
                                </div>
                            </div>
                        </div>
                        <div class="dash-stat-container flex-col center-start">
                            <div class="dash-stat-top flex-row start-spacebet w100">
                                <div class="flex-col start-center">
                                    <p class="stat-title">Insurance</p>
                                    <p class="stat-val"><span id="dashInsurance">0</span> <span class="currence">DZD</span></p>
                                </div>
                                <i class="fa-solid fa-piggy-bank" style=" background-color: rgba(102, 77, 163,0.7);"></i>
                            </div>
                            <div class="dash-stat-bottom">
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-normal">0.0%</p>
                                </div>
                            </div>
                        </div>
                        <div class="dash-stat-container flex-col center-start">
                            <div class="dash-stat-top flex-row start-spacebet w100">
                                <div class="flex-col start-center">
                                    <p class="stat-title">Income</p>
                                    <p class="stat-val"><span id="dashIncome">0</span> <span class="currence">DZD</span></p>
                                </div>
                                <i class="fa-solid fa-cash-register" style=" background-color: rgba(55, 137, 73,0.7);"></i>
                            </div>
                            <div class="dash-stat-bottom">
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-negative">-5.0%</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="dash-graphs-container flex-row center-start flex-wrap gap-lrg">
                        <div class="dash-graph flex-col flex-center">
                            <div class="graph-head flex-row center-spacebet w100">
                                <div class="flex-col">
                                    <p class="para-sml plat-text">Overview</p>
                                    <p class="para-med">Rentals value</p>
                                </div>
                                <div class="flex-row center-start gap-lrg">
                                    <button class="bt bt-hover bt-reg" style="padding: 0 1em;">Month</button>
                                    <button class="bt bt-hover bt-reg" style="padding: 0 1em;">Week</button>
                                </div>
                            </div>
                            <div class="graph-body flex-col flex-center" style="width: 100%;">
                                <canvas id="chart1" style="transition: ease-in-out 0.6s;"></canvas>
                            </div>
                        </div>
                        <div class="dash-graph-m flex-col flex-center">
                            <div class="graph-head flex-row center-spacebet w100">
                                <div class="flex-col">
                                    <p class="para-sml plat-text">Performance</p>
                                    <p class="para-med">Total rentals</p>
                                </div>
                            </div>
                            <div class="graph-body flex-col flex-center">
                                <canvas id="chart2" height="400px"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="dbm-table-container">
                        <div class="dbm-table-head flex-row center-spacebet">
                            <div class="flex-col">
                                <p class="title">Recent Rentals</p>
                                <p class="para-sml plat-text text-eclip">Current month rentals</p>
                            </div>
                            <div class="flex-row" style="gap: 0.625rem;">
                                <div class="sloader" id="ordersLoader"></div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="ordersOffset" class="para-sml">Offset</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="0" id="ordersOffset" style="width: fit-content; padding-right: 0;">
                                </div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="ordersLimit" class="para-sml">Limit</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="5" id="ordersLimit" style="width: fit-content; padding-right: 0;">
                                </div>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="oPrint">
                                    <i class="fa-solid fa-print"></i>
                                    <span class="only-pc">Print</span>
                                </button>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="oDownload">
                                    <i class="fa-solid fa-file-csv"></i>
                                    <span class="only-pc">Download</span>
                                </button>
                                <button class="bt bt-hover bt-reg dbm-table-minimize" style="aspect-ratio: 1; width: auto;">
                                    <i class="fa-solid fa-chevron-down" id="oChevron"></i>
                                </button>
                            </div>
                        </div>
                        <div class="dbm-table">
                            <div class="dbm-table-thead dbm-table-row row-orders-dash">
                                <div class="dbm-table-col table-id">
                                    <p>ID</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Client</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Vehicle</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Insurance<span class="currence"> (DZD)</span></p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Fees<span class="currence"> (DZD)</span></p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Total price<span class="currence"> (DZD)</span></p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Status</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Start date</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>End date</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Created at</p>
                                </div>
                            </div>
                            <div class="dbm-table-tbody" id="ordersTableBody">
                            </div>
                        </div>
                        <div class="dbm-table-foot flex-row center-spacebet" id="orderTableFoot">
                            <div class="flex-row center-start only-pc">
                                <p class="para-sml">1-5 of 99 Orders</p>
                            </div>
                            <div class="flex-row center-start" style="gap: 0.625em;">
                                <select class="dbm-select" id="ordersCurrentPage">
                                    <option value="1">1</option>
                                </select>
                                <button class="bt bt-hover bt-reg" id="oPrevB">
                                    Previous
                                </button>
                                <button class="bt bt-hover bt-reg" id="oNextB">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            <% } %>
            <% if (subsection == 'dashboardclients') { %>
                <section class="content-section">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Dashboard</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Users</p>
                    </div>

                    <div class="flex-col flex-center">
                        <div id="algeriaMap" style="width: 100%; height: 600px;"></div>
                    </div>
                    
                </section>
            <% } %>
            <% if (subsection == 'dashboardvehicles') { %>
                <section class="content-section">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Dashboard</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Vehicles</p>
                    </div>
                </section>
            <% } %>
        <% } %>
        <% if (section==='rental' ) { %>
            <% if (subsection == "listrental") { %>
                <section class="content-section active-section" id="orders-content">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Rentals</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">List</p>
                    </div>
                    <h1>OrdersList</h1>
                    <div class="button_order">
                        <button class="button_ord active" data-role="all">AllOrders</button>
                        <button class="button_ord" data-role="pending">Pending</button>
                        <button class="button_ord" data-role="active">Active</button>
                        <button class="button_ord" data-role="completed">Completed</button>
                        <button class="button_ord" data-role="canceled">Canceled</button>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>USER_ID</th>
                            <th>VEHICULE_ID</th>
                            <th>START_DATE</th>
                            <th>END_DATE</th>
                            <th>STATUS</th>
                            <th>TOTAL_PRICE</th>
                        </tr>
                        </thead>
                        <tbody id="rentalsTableBody">
                        <!-- سيتم إدخال البيانات هنا ديناميكيًا -->
                        </tbody>
                    </table>
                </section>
            <% } %>
            <% if (subsection === 'ordersrentals') {%>
                <section class="content-section flex-col">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Rentals</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Orders</p>
                    </div>
                </section>
            <% } %>
            <% if (subsection === 'returnrentals') {%>
                <section class="content-section flex-col">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Rentals</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Returns</p>
                    </div>
                </section>
            <% } %>
          <% } %>
        <% if (section==='clients' ) { %>
            <% if (subsection == "listclients") { %>
                <section class="content-section" id="customers-content">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Clients</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">List</p>
                    </div>
                    <h2>Customers List</h2>
                    <div class=".button_customer">
                        <button class="button_cust active" data-role="all">AllCustomers</button>
                        <button class="button_cust" data-role="Client">client</button>
                        <button class="button_cust" data-role="Admin">Admin</button>
                        <button class="button_cust" data-role="Employe">Employe</button>
                    </div>
                    <br>
                    <table class="customer-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>country</th>
                                <th>Role</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody id="customersTableBody">
                            <!-- سيتم إدخال البيانات هنا ديناميكيًا -->
                        </tbody>
                    </table>
                </section>
            <% } %>
            <% if (subsection == "listverification") { %>
                <section class="content-section">
                    <div class="flex-row center-start dash-path gap-min">
                        <i class="path-text fa-solid fa-house"></i>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Management</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Clients</p>
                        <span class="currence">	&gt;</span>
                        <p class="path-text">Verification</p>
                    </div>
                </section>
            <% } %>
        <% } %>
     
        <% if (section==='report' ) { %>
            <section class="content-section" id="report-content">
                <div class="flex-row center-start dash-path gap-min">
                    <i class="path-text fa-solid fa-house"></i>
                    <span class="currence">	&gt;</span>
                    <p class="path-text">Reports & feedback</p>
                    <span class="currence">	&gt;</span>
                    <p class="path-text">Reports</p>
                </div>
            </section>
        <% } %>
        <% if (section==='dbm' ) { %>
            <section class="content-section" id="dbm-content">
                <div class="dbm-head flex-row center-spacebet">
                    <div class="flex-row center-start" style="height: 100%; gap: 0.5rem;">
                        <label for="table-filter-date" class="dbm-input-holder bt-reg flex-row center-start">
                            <i class="fa-regular fa-calendar"></i>
                            <select class="dbm-filter-date" id="table-filter-date">
                                <option value="all">All Time</option>
                                <option value="m1">Last month</option>
                                <option value="m2">Last 3 months</option>
                                <option value="y">Last Year</option>
                            </select>
                        </label>
                        <div class="bt-line-h"></div>
                        <label for="table-filter-dire" class="dbm-input-holder bt-reg flex-row center-start">
                            <i class="fa-solid fa-arrow-down-1-9"></i>
                            <select class="dbm-filter-date" id="table-filter-dire">
                                <option value="ASC">Sort</option>
                                <option value="ASC">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </label>
                        <label for="table-filter-date" class="dbm-input-holder bt-reg flex-row center-start">
                            <i class="fa-solid fa-arrow-up-wide-short"></i>
                            <select class="dbm-filter-sort" id="table-filter-sort">
                                <option value="id">Order by</option>
                                <option value="created_at">Date</option>
                                <option value="id">ID</option>
                            </select>
                        </label>
                    </div>
                    <div class="flex-row center-start" style="height: 100%; gap: 0.625rem;">
                        <button class="bt bt-hover bt-solid dbm-inpu-holder flex-row flex-center gap-min" id="refreshContent">
                            <i class="fa-solid fa-arrows-rotate"></i>
                            <span class="only-pc">Refresh</span>
                        </button>
                        <button class="bt bt-hover bt-reg dbm-inpu-holder flex-row flex-center">
                            <i class="fa-solid fa-gear"></i>
                            <span class="only-pc">View</span>
                        </button>
                        <div class="bt-line-h"></div>
                        <div class="dbm-profile bt-hover">
                            <img src="<%= user?user.image:"/assets/images/user.jpg" %>" alt="Profile">
                        </div>
                    </div>
                </div>
                <div class="flex-row center-start dash-path gap-min" style="padding-bottom: 0;">
                    <i class="path-text fa-solid fa-house"></i>
                    <span class="currence">	&gt;</span>
                    <p class="path-text">Database</p>
                </div>
                <div class="dbm-body flex-col" style="gap: 1em;">
                    <div class="flex-row flex-wrap flex-center dbm-data">
                        <div class="flex-col center-spacebet dbm-data-cell">
                            <div class="dbm-cell-head flex-row center-spacebet">
                                <p class="para-mid">Clients</p>
                                <i class="fa-solid fa-ellipsis dbm-cell-editbut"></i>
                            </div>
                            <div class="dbm-cell-body flex-row center-spacebet">
                                <div class="flex-col cell-body-static">
                                    <p class="para-sml plat-text">Total Clients</p>
                                    <p class="title cell-static" id="totalClients"></p>
                                </div>
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-negative">-1.0%</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col center-spacebet dbm-data-cell">
                            <div class="dbm-cell-head flex-row center-spacebet">
                                <p class="para-mid">Vehicles</p>
                                <i class="fa-solid fa-ellipsis dbm-cell-editbut"></i>
                            </div>
                            <div class="dbm-cell-body flex-row center-spacebet">
                                <div class="flex-col cell-body-static">
                                    <p class="para-sml plat-text">Total Vehicles</p>
                                    <p class="title cell-static" id="totalVehicles"></p>
                                </div>
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-normal">0.0%</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col center-spacebet dbm-data-cell">
                            <div class="dbm-cell-head flex-row center-spacebet">
                                <p class="para-mid">Orders</p>
                                <i class="fa-solid fa-ellipsis dbm-cell-editbut"></i>
                            </div>
                            <div class="dbm-cell-body flex-row center-spacebet">
                                <div class="flex-col cell-body-static">
                                    <p class="para-sml plat-text">Total Orders</p>
                                    <p class="title cell-static" id="totalOrders"></p>
                                </div>
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-positive">+1.0%</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col center-spacebet dbm-data-cell">
                            <div class="dbm-cell-head flex-row center-spacebet">
                                <p class="para-mid">Employees</p>
                                <i class="fa-solid fa-ellipsis dbm-cell-editbut"></i>
                            </div>
                            <div class="dbm-cell-body flex-row center-spacebet">
                                <div class="flex-col cell-body-static">
                                    <p class="para-sml plat-text">Total Employees</p>
                                    <p class="title cell-static" id="totalEmployees"></p>
                                </div>
                                <div class="flex-col end-center cell-body-avg">
                                    <p class="dbm-avg avg-normal">0.0%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dbm-table-container">
                        <div class="dbm-table-head flex-row center-spacebet">
                            <div class="flex-col">
                                <p class="title">Clients Table</p>
                                <p class="para-sml plat-text text-eclip">Data In Database</p>
                            </div>
                            <div class="flex-row" style="gap: 0.625rem;">
                                <div class="sloader" id="clientsLoader"></div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="clientsOffset" class="para-sml">Offset</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="0" id="clientsOffset" style="width: fit-content; padding-right: 0;">
                                </div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="clientsLimit" class="para-sml">Limit</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="5" id="clientsLimit" style="width: fit-content; padding-right: 0;">
                                </div>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="cPrint">
                                    <i class="fa-solid fa-print"></i>
                                    <span class="only-pc">Print</span>
                                </button>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="cDownload">
                                    <i class="fa-solid fa-file-csv"></i>
                                    <span class="only-pc">Download</span>
                                </button>
                                <button class="bt bt-hover bt-reg dbm-table-minimize" style="aspect-ratio: 1; width: auto;">
                                    <i class="fa-solid fa-chevron-down" id="cChevron"></i>
                                </button>
                            </div>
                        </div>
                        <div class="dbm-table">
                            <div class="dbm-table-thead dbm-table-row row-clients">
                                <div class="dbm-table-col table-id">
                                    <p>ID</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Username</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Email</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Account status</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>First name</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Last name</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Sexe</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Birthdate</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Country</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Wilaya</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>City</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Zipcode</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Address</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Phone</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Created at</p>
                                </div>
                            </div>
                            <div class="dbm-table-tbody" id="clientsTableBody">
                            </div>
                        </div>
                        <div class="dbm-table-foot flex-row center-spacebet" id="clientTableFoot">
                            <div class="flex-row center-start only-pc">
                                <p class="para-sml">1-5 of 99 Clients</p>
                            </div>
                            <div class="flex-row center-start" style="gap: 0.625em;">
                                <select class="dbm-select" id="clientsCurrentPage">
                                    <option value="1">1</option>
                                </select>
                                <button class="bt bt-hover bt-reg" id="cPrevB">
                                    Previous
                                </button>
                                <button class="bt bt-hover bt-reg" id="cNextB">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="dbm-table-container">
                        <div class="dbm-table-head flex-row center-spacebet">
                            <div class="flex-col">
                                <p class="title">Vehicles Table</p>
                                <p class="para-sml plat-text text-eclip">Data In Database</p>
                            </div>
                            <div class="flex-row" style="gap: 0.625rem;">
                                <div class="sloader" id="vehiclesLoader"></div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="vehiclesOffset" class="para-sml">Offset</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="0" id="vehiclesOffset" style="width: fit-content; padding-right: 0;">
                                </div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="vehiclesLimit" class="para-sml">Limit</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="5" id="vehiclesLimit" style="width: fit-content; padding-right: 0;">
                                </div>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="vPrint">
                                    <i class="fa-solid fa-print"></i>
                                    <span class="only-pc">Print</span>
                                </button>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="vDownload">
                                    <i class="fa-solid fa-file-csv"></i>
                                    <span class="only-pc">Download</span>
                                </button>
                                <button class="bt bt-hover bt-reg dbm-table-minimize" style="aspect-ratio: 1; width: auto;">
                                    <i class="fa-solid fa-chevron-down" id="vChevron"></i>
                                </button>
                            </div>
                        </div>
                        <div class="dbm-table">
                            <div class="dbm-table-thead dbm-table-row row-vehicles-s">
                                <div class="dbm-table-col table-id">
                                    <p>ID</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Units</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Price</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Rental type</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Brand</p>
                                </div>
                                <div class="dbm-table-col col-s">
                                    <p>Office</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Model</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Manufacture</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Body</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Fuel type</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Color</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Transmission</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Capacity</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Doors</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Engine</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Power</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Speed</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Created at</p>
                                </div>
                            </div>
                            <div class="dbm-table-tbody" id="vehiclesTableBody">
                            </div>
                        </div>
                        <div class="dbm-table-foot flex-row center-spacebet" id="vehicleTableFoot">
                            <div class="flex-row center-start only-pc">
                                <p class="para-sml">1-5 of 99 Vehicles</p>
                            </div>
                            <div class="flex-row center-start" style="gap: 0.625em;">
                                <select class="dbm-select" id="vehiclesCurrentPage">
                                    <option value="1">1</option>
                                </select>
                                <button class="bt bt-hover bt-reg" id="vPrevB">
                                    Previous
                                </button>
                                <button class="bt bt-hover bt-reg" id="vNextB">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="dbm-table-container">
                        <div class="dbm-table-head flex-row center-spacebet">
                            <div class="flex-col">
                                <p class="title">Rentals Table</p>
                                <p class="para-sml plat-text text-eclip">Data In Database</p>
                            </div>
                            <div class="flex-row" style="gap: 0.625rem;">
                                <div class="sloader" id="ordersLoader"></div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="ordersOffset" class="para-sml">Offset</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="0" id="ordersOffset" style="width: fit-content; padding-right: 0;">
                                </div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="ordersLimit" class="para-sml">Limit</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="5" id="ordersLimit" style="width: fit-content; padding-right: 0;">
                                </div>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="oPrint">
                                    <i class="fa-solid fa-print"></i>
                                    <span class="only-pc">Print</span>
                                </button>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="oDownload">
                                    <i class="fa-solid fa-file-csv"></i>
                                    <span class="only-pc">Download</span>
                                </button>
                                <button class="bt bt-hover bt-reg dbm-table-minimize" style="aspect-ratio: 1; width: auto;">
                                    <i class="fa-solid fa-chevron-down" id="oChevron"></i>
                                </button>
                            </div>
                        </div>
                        <div class="dbm-table">
                            <div class="dbm-table-thead dbm-table-row row-orders-s">
                                <div class="dbm-table-col table-id">
                                    <p>ID</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Client</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Vehicle</p>
                                </div>
                                <div class="dbm-table-col col-s">
                                    <p>Office</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Total price<span class="currence"> (DZD)</span></p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Status</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Start date</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>End date</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Created at</p>
                                </div>
                            </div>
                            <div class="dbm-table-tbody" id="ordersTableBody">
                            </div>
                        </div>
                        <div class="dbm-table-foot flex-row center-spacebet" id="orderTableFoot">
                            <div class="flex-row center-start only-pc">
                                <p class="para-sml">1-5 of 99 Orders</p>
                            </div>
                            <div class="flex-row center-start" style="gap: 0.625em;">
                                <select class="dbm-select" id="ordersCurrentPage">
                                    <option value="1">1</option>
                                </select>
                                <button class="bt bt-hover bt-reg" id="oPrevB">
                                    Previous
                                </button>
                                <button class="bt bt-hover bt-reg" id="oNextB">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="dbm-table-container">
                        <div class="dbm-table-head flex-row center-spacebet">
                            <div class="flex-col">
                                <p class="title">Employees Table</p>
                                <p class="para-sml plat-text">Data In Database</p>
                            </div>
                            <div class="flex-row" style="gap: 0.625rem;">
                                <div class="sloader" id="employeesLoader"></div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="employeesOffset" class="para-sml">Offset</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="0" id="employeesOffset" style="width: fit-content; padding-right: 0;">
                                </div>
                                <div class="flex-row center-start gap-min only-pc h100">
                                    <label for="employeesLimit" class="para-sml">Limit</label>
                                    <input class="input-reg" type="number" min="0" max="50" value="5" id="employeesLimit" style="width: fit-content; padding-right: 0;">
                                </div>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="ePrint">
                                    <i class="fa-solid fa-print"></i>
                                    <span class="only-pc">Print</span>
                                </button>
                                <button class="bt bt-hover bt-reg flex-row flex-center" id="eDownload">
                                    <i class="fa-solid fa-file-csv"></i>
                                    <span class="only-pc">Download</span>
                                </button>
                                <button class="bt bt-hover bt-reg dbm-table-minimize" style="aspect-ratio: 1; width: auto;">
                                    <i class="fa-solid fa-chevron-down" id="eChevron"></i>
                                </button>
                            </div>
                        </div>
                        <div class="dbm-table">
                            <div class="dbm-table-thead dbm-table-row row-employees-s">
                                <div class="dbm-table-col table-id">
                                    <p>ID</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Username</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Email</p>
                                </div>
                                <div class="dbm-table-col col-s">
                                    <p>Office</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>First name</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Last name</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Sexe</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Birthdate</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Country</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Wilaya</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>City</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Zipcode</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Address</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Phone</p>
                                </div>
                                <div class="dbm-table-col">
                                    <p>Created at</p>
                                </div>
                            </div>
                            <div class="dbm-table-tbody" id="employeesTableBody">
                            </div>
                        </div>
                        <div class="dbm-table-foot flex-row center-spacebet" id="employeeTableFoot">
                            <div class="flex-row center-start only-pc">
                                <p class="para-sml">1-5 of 99 Employees</p>
                            </div>
                            <div class="flex-row center-start" style="gap: 0.625em;">
                                <select class="dbm-select" id="employeesCurrentPage">
                                    <option value="1">1</option>
                                </select>
                                <button class="bt bt-hover bt-reg" id="ePrevB">
                                    Previous
                                </button>
                                <button class="bt bt-hover bt-reg" id="eNextB">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <% } %>
        <% if (section==='settings' ) { %>
            <section class="content-section" id="settings-content">
                <h2>Settings</h2>
                <p>Content for Settings section.</p>
            </section>
        <% } %>
        <script src="/js/main.js"></script>
        <script src="/js/darkmode.js"></script>
        <script src="/lib/node_modules/gsap/dist/gsap.min.js"></script>
        <script src="/lib/node_modules/jspdf/dist/jspdf.umd.min.js"></script>
        <script src="/lib/node_modules/chart.js/dist/chart.umd.js"></script>
        <script src="/lib/node_modules/plotly.js/dist/plotly.min.js"></script>
        <script src="/lib/node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>
        <script src="/js/dashboard.js"></script>
        <% const scripts = { 
            addvehicle: "addvehicle.js", 
            vehicles: "vehicles.js", 
            order: "order.js",
            customers: "customers.js",
            account: "account.js",
            report: "report.js",
            dbm: "dbm.js",
            settings: "settings.js"
        }; %>
        <% if (scripts[section]) { %>
            <script src="/js/administration/<%= scripts[section] %>"></script>
        <% } %>
        
        <% if (typeof subsection != 'undefined' ) { %>

            <% const subscripts = { 
                rentals: "rentals.js", 
                dashboardclients: "dashboardclients.js"
            }; %>
            <% if (subscripts[subsection]) { %>
                <script src="/js/administration/dashboard/<%= subscripts[subsection] %>"></script>
            <% } %>
                 
        <% } %>
    </body>

</html>